@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  outline: none;
}
@layer components {
  .btn-green {
    @apply p-2 w-full bg-green-400 text-white rounded-lg text-center disabled:opacity-75 hover:bg-green-500;
  }
  .btn-red {
    @apply p-2 w-full bg-red-400 text-white rounded-lg text-center disabled:opacity-75 hover:bg-red-500;
  }
  .btn-amber {
    @apply p-2 w-full bg-amber-400 text-white rounded-lg text-center disabled:opacity-75 hover:bg-amber-500;
  }
  .divider-200 {
    @apply border-b border-b-neutral-200;
  }
  .border-200 {
    @apply border border-neutral-200 rounded-lg;
  }
  .center-x {
    @apply left-1/2 -translate-x-1/2;
  }
  .center-y {
    @apply top-1/2 -translate-y-1/2;
  }
  .inner-box {
    @apply p-3 bg-white rounded-lg h-full;
  }
  .outer-box {
    @apply p-2 bg-white/40 rounded-lg;
  }
}

.CollapsibleContent[data-state="open"] {
  animation: slideDown 250ms ease-in-out;
}
.CollapsibleContent[data-state="closed"] {
  animation: slideUp 250ms ease-in-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
